<!-- Extend main layout -->
{% extends "main.html" %}

{% block content %}
    <div class="not-front">
        <div class="col col-1">
            <h2 class="toptitle">Welcome</h2>
            <div class="form-createissue">
                <h4>Create an issue</h4>
                <form action="" method="post" name="createissue">
                    {{ form.hidden_tag() }}
                    <div class="col col-30">
                        <p><b>Issue Title</b></p>
                        {% if form.redmine %}
                        <p><b>Redmine #</b></p>
                        {% endif %}
                    </div>
                    <div class="col col-30">
                        {{ form.title(size=25) }}
                        {% if form.redmine %}
                        {{ form.redmine(size=25) }}
                        {% endif %}
                    </div>
                    <div class="container">
                        <p><b>Summary:</b></p>
                        <p>{{form.description(rows='10',cols='30')}}</p>
                        <p><input class="button" type="submit" value="Submit Issue"></p>
                    </div>
                </form>
            </div>
        </div>
        <div class="col col-2">
            <h3>My issues: </h3>
            {% for issue in issues %}
            <div class="row">
                <p><b>{{ issue.key }}</b> | {{ issue.fields.summary }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}